.snippets {
  color: white;
  font-size: large;
  width: 49%;
  display: inline-block;
  background: rgb(34, 193, 195);
  background: linear-gradient(90deg, rgb(247, 253, 253) 0%, rgb(3, 3, 35) 120%);
  font-family: "work sans";
  border-radius: 1rem;
  border-color: rgba(11, 6, 72, 0.927);
  border-style: solid;
  border-width: 0.2rem;
  margin-top: 0.5rem;
}

.annotations {
  color: white;
  text-align: center;
  font-size: large;
  float: right;
  width: 49%;
  background: rgb(34, 193, 195);
  background: linear-gradient(90deg, rgb(247, 253, 253) 0%, rgb(3, 3, 35) 120%);
  font-family: "work sans";
  display: flex;
  border-radius: 1rem;
  border-color: rgba(11, 6, 72, 0.927);
  border-style: solid;
  border-width: 0.2rem;
  margin-top: 0.5rem;
}

.annotate_p {
  margin-top: 0.5rem;
  margin-left: 15rem;
  color: rgb(3, 3, 35);
}

.lang {
  display: inline-block;
  margin-top: 2rem;
  width: 49%;
  color: rgb(3, 3, 35);
}

.option {
  margin-left: 0.5rem;
  color: rgba(11, 6, 72, 0.927);
  margin-right: 0.5rem;
  border-color: rgba(11, 6, 72, 0.927);
  border-style: solid;
  border-radius: 0.5rem;
  border-width: 0.1rem;
}
.survey_input {
  margin-right: 1rem;
  color: rgba(11, 6, 72, 0.927);
  border-color: rgba(11, 6, 72, 0.927);
  border-style: solid;
  border-width: 0.1rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
}
.surveyThreshold {
  color: rgba(11, 6, 72, 0.927);
  border-color: rgba(11, 6, 72, 0.927);
  border-style: solid;
  border-width: 0.1rem;
  margin-left: 0.5rem;
  width: 4rem;
  border-radius: 0.5rem;
}
.custom-file-upload {
  margin-left: 0.5rem;
  border-color: rgba(11, 6, 72, 0.927);
  border-style: solid;
  border-width: 0rem;
  margin-left: 1.5rem;
  width: 10rem;
  height: 0rem;
  padding-bottom: 0.1rem;
  font-style: italic;
  border-radius: 0rem;
}
.custom-file-upload svg {
  vertical-align: middle;
  margin-right: 5px;
}
.file {
  display: none;
}
.label_s {
  color: rgba(11, 6, 72, 0.927);
  font-weight: 500;
}
.uploaded_snippets {
  margin-top: 1rem;
  width: 100%;
  display: inline-block;
  border-radius: 1rem;
  margin-left: 0.2rem;
}
.uploaded_annotations {
  float: right;
  width: 49%;
  margin-top: 2rem;
  text-align: center;
  border-radius: 1rem;
}

.add {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  border-radius: 1rem;
  color: rgb(3, 3, 35);
  font-weight: 1000;
  letter-spacing: 0.5rem;
  font-size: 0.95;
  border-color: rgb(3, 3, 35);
  background-color: rgb(3, 3, 35, 0.5);
}
.add:hover {
  color: rgba(11, 6, 72, 0.927);
  background-color: rgb(3, 3, 35, 0.7);
}
.add_portion {
  padding-top: 1rem;
}

.annotate_input {
  width: 85%;
  border-color: rgb(3, 3, 35);

  border-width: 0.2rem;
  height: 2rem;
  font-weight: 400;
  font-size: medium;
  color: rgb(3, 3, 35);
  border-radius: 0.5rem;
}

.delete_annotate {
  height: 2rem;
  border-color: rgb(3, 3, 35);
  border-style: solid;
  border-width: 0.2rem;
  color: rgba(11, 6, 72, 0.927);
  background-color: rgb(3, 3, 35, 0.5);
  border-left: 0rem;
}
.delete_annotate:hover {
  color: blue;
  background-color: white;
}

.submit {
  margin-top: 1.5rem;
  width: 30%;
  color: rgb(3, 3, 35);
  background-color: aliceblue;
  border-color: rgb(3, 3, 35);
  border-style: solid;
  border-width: 0.2rem;
  border-radius: 0.5rem;
  font-weight: 500;
  height: 2rem;
}
.submit:hover {
  background-color: rgb(3, 3, 35, 0.7);
}
