.custom-navbar {
  background: rgb(34, 193, 195);
  background: linear-gradient(90deg, rgb(247, 253, 253) 0%, rgb(3, 3, 35) 90%);
  font-family: "work sans";
}

.custom-navbar .navbar-brand {
  font-size: 24px;
}

.custom-navbar .nav-link {
  font-size: 18px;
}

.custom-navbar .nav-link:hover {
  background-color: rgb(7, 7, 77);
  border-radius: 1rem;
}

.custom-navbar .navbar-toggler-icon {
  background-color: #fff;
}
